<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; 
    }
  </style>
</head>
<body>
   
  <div class="container">
<fieldset>
    <form method="post" action="auth/login/login.component.html">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required><br><br>
      
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>
      
        <input type="submit" value="Iniciar sesión">
      </form>
    </fieldset>
  </div>

</body>
</html>
